{% extends 'base.html' %}


{% block content %}

<div class="container">
	<h1 class="text-center">Your Polls {{ request.user }}</h1>
	<div class="row">
		
		<div class="col-md-6 offset-md-3">

			<!-- Error/Success Message -->

			{% if messages %}
				
				    {% for message in messages %}
				    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
				    {{ message }}
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  					</button>
					</div>
				    
				    {% endfor %}
				
			{% endif %}



			<!-- Add Button -->

			<a href="{% url 'polls:add_poll' %}" class="btn btn-primary">Add <i class="fas fa-plus"></i></a>
			
			<!-- my_polls button -->
			
			<a href="{% url 'polls:list' %}" class="btn btn-primary">All Polls</a>
			

			<!-- Pagination -->
			<div class="pagination">
			    <span class="step-links">
			        {% if my_polls.has_previous %}
			            <a href="?page=1" class=" btn btn-primary btn-sm"><i class="fas fa-angle-double-left"></i></a>
			            <a href="?page={{ my_polls.previous_page_number }}" class=" btn btn-primary btn-sm"><i class="fas fa-angle-left"></i></a>
					{% else %}
						 <a href="" class=" btn btn-secondary btn-sm"><i class="fas fa-angle-double-left"></i></a>
			            <a href="" class=" btn btn-secondary btn-sm"><i class="fas fa-angle-left"></i></a>
					{% endif %}

			        <span class="current">
			            {{ my_polls.number }} / {{ my_polls.paginator.num_pages }}
			        </span>

			        {% if my_polls.has_next %}
			            <a href="?page={{ my_polls.next_page_number }}" class=" btn btn-primary btn-sm"><i class="fas fa-angle-right"></i></a>
			            <a href="?page={{ my_polls.paginator.num_pages }}" class=" btn btn-primary btn-sm"><i class="fas fa-angle-double-right"></i></a>
			        {% else %}
			            <a href="" class=" btn btn-secondary btn-sm"><i class="fas fa-angle-right"></i></a>
			            <a href="" class=" btn btn-secondary btn-sm"><i class="fas fa-angle-double-right"></i></a>
					{% endif %}
			    </span>
			</div>
			




			<ul class="list-group">

				{% for poll in my_polls %}

					<li class="list-group-item">
						<a href="{% url 'polls:detail' poll.id %}"">{{ poll }}</a>
						{% if request.user == poll.owner %}
						<a href="{% url 'polls:edit_poll' poll.id %}" class="float-right"><i class="far fa-edit"></i></a>
						{% endif %}
						{% if request.user != poll.owner %}
						<div class="float-right">{{poll.owner}}</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

	</div>

</div>


{% endblock %}